<div class="d-flex justify-content-center">
    <div class="table-wrapper table-bordered col-md-6 ">
        <div class="table-title navbar-dark bg-info">
            <h5 style="margin-bottom: 0; color:white; text-align: center;padding: 10px;">View Employee</h5>
            
        </div>
    <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                        <th>firstname</th>
                        <td style="text-align: center">{{student.firstname}}</td>
                    </tr>
                    <tr>
                        <th>lastname</th>
                        <td style="text-align: center">{{student.lastname}}</td>
                    </tr>
                    <tr>
                        <th>email</th>
                        <td style="text-align: center">{{student.email}}</td>
                    </tr>
                    <tr>
                        <th>address</th>
                        <td style="text-align: center">{{student.address}}</td>
                    </tr>
                    <tr>
                        <th>phone</th>
                        <td style="text-align: center">{{student.phone}}</td>
                    </tr>
            </thead>
            </table>
    </div>
    </div>
</div>